

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Purple Cupcakes</title>

    <link href="css/main.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400italic,300,700,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/responsive-nav.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="/css/smart_cart.min.css" rel="stylesheet" type="text/css" />  -->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
	<!-- <link rel="stylesheet" type="text/css" href="assets/css/style.css">	 -->
	<script src=“https://www.paypalobjects.com/api/checkout.js“></script>

 <style> 
    .clipped-image {
      max-height: 187px;
      min-height: 187px;
    }
    .panel-heading {
      text-align: center;
      font-size: 2em;
      font-weight: bold;
     }
     .breadcrumb {
      position: absolute;
      top: 0;
     }
     .panel-body {
      text-align: center;
      /*font-size: 2em;
      font-weight: bold;*/
     }
     .panel-footer {
     	display: flex;
     	flex-direction: row;
     	justify-content: flex-end;
     }

	.sc-cart-clear, .btTxt {
		margin: .5em;
	}

         
 </style>
    

</head>





{{> header}}



<aside class="col-md-4">

          <div class="panel panel-default">
            <div class="panel-heading">
             <h3 class="panel-title">Shopping Cart</h3>
           </div>
           <div class="panel-body">
              {{#if products}}             
                     <ul class="list-group">
                       <li class="list-group-item">
                         {{#each products.items}}
                         Qty.:<span class="badge">{{this.quantity}}  </span>
                         Name:<strong>{{this.name}}</strong>
                          Price:<span class="label label-success">{{this.price}}</span>
                          
                       </li>
                                            
                      </ul>               
                 </hr>
                    {{/each}}
                 <!-- <div class="btn-group">
                          <button class ='btn btn-primary btn-xs dropdpwn-toggle'>Action <span class="caret"></span></button>
                          <ul class="dropdown-manu">
                            <li><a href="#">Remove one </a></li>
                            <li><a href="#">Remove all </a></li>
                            
                          </ul>
                        </div> -->

                         {{/if}}
                   Total Price:<strong> {{totalprice}}: </strong>  
              </br>
              Choose your cupcakes!
           </div>
           <div class="panel-footer">
           <!-- <button type="submit"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-medium.png" alt="Check out with PayPal"></button> -->

             <div id=“paypal-button-container”></div>

            <button class="btn btn-danger sc-cart-clear disabled" type="button">Clear</button> 


           </div>
          </div>


        </aside>

<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
      <div class="panel panel-default">
            <div class="panel-heading">
             <h3 class="panel-title">Shopping Cart</h3>           
             </div>
           
            
            <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
             <div class="panel-body">
               {{#if products}}             
                     <ul class="list-group">
                       <li class="list-group-item">
                         {{#each products.items}}
                         Qty.:<span class="badge">{{this.quantity}}  </span>
                         Name:<strong>{{this.name}}</strong>
                          Price:<span class="label label-success">{{this.price}}</span>
                          
                       </li>
                                            
                      </ul>               
                 </hr>
                    {{/each}}
                 <!-- <div class="btn-group">
                          <button class ='btn btn-primary btn-xs dropdpwn-toggle'>Action <span class="caret"></span></button>
                          <ul class="dropdown-manu">
                            <li><a href="#">Remove one </a></li>
                            <li><a href="#">Remove all </a></li>
                            
                          </ul>
                        </div> -->
                   Total Price:<strong> {{totalprice}}: </strong>               
                            
                 //{{else}}

                
                  
                     {{/if}}

                    </div>
                   </div>
              </div>
       <script>
        paypal.Button.render({
        env: 'sandbox', // Or 'sandbox'
        client: {
            sandbox:    'AZ7fDQ2-xqMXW-LZq8x7SPInDbHqduy23LJIBdNh98P3LuID2K7TSCdR8m3DSAmZpfmJBpbkRsrWmTNN'
        },
        commit: true, // Show a 'Pay Now' button
        payment: function(data, actions) {
            return actions.payment.create({
                payment: {
                    "transactions": [
                        {
                            amount: { total: '1.00', currency: 'USD' }
                        }
                    ],
                    "redirect_urls":{"return_url":"https://developer.paypal.com","cancel_url":"https://developer.paypal.com"}
                }
            });
        },
        onAuthorize: function(data, actions) {
            return actions.payment.execute().then(function(payment) {
                window.alert('Payment Complete!');
            });
        }
    }, '#paypal-button-container');
    </script>